input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea
{
    background-color: $white;
    color: $white;
    border: none;
    padding: 0 10px;
    height: 45px;
    padding-top: 7px;

    &.black{
        background-color: $blue;
    }

}

input:focus{
        border: none;
}


.input-with-icon{
    display: flex;

    button{
        display: inline;
        position: absolute;
        right: 0;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
}


[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
    pointer-events: inherit;
}