#homepage{
    & > *{
        margin: 20px auto;
        max-width: 1400px;

        @media (max-width: 1450px) {  
            max-width: 1120px;
        }

        @media (max-width: 1200px) {  
            max-width: 840px;
        }

        @media (max-width: 900px) {  
            max-width: 560px;
        }

        @media (max-width: 700px) {  
            // max-width: 280px;
            max-width: 100%;
            margin: 20px;
        }
    }

    @media (max-width: 1660px) {  
        & > *{
            width: auto;
        }
    }

    .th-meta, .th-tip{
        display: none;
    }

    .movie-list{

        .movie-block {
            margin-bottom: 50px;
            width: 280px;

            .movie-panel{
                width: 260px;
                display: inline-block;

                .poster{
                    height: 390px;
                    text-align: center;
        
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}